.main-nav
	display: flex
	justify-content: space-between
	margin-bottom: 80px

	.logo
		height: 54px
		width: 210px

	nav
		font-size: 1.5rem
	
		a
			@extend %link
			@extend %nav-text
	
	&.large
		.logo
			height: 132px
			width: 520px
	